* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: #111e27;
}

#border {
    background-color: #223440;
    padding: 30px 8px;
    border-radius: 40px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(45deg, #114e67, #72d3e9);
    padding: 60px 40px;
    border-radius: 10px;
}

#img-profile img {
    width: 120px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.input {
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    color: white;
    background-color: transparent;
    text-align: center;
    padding: 8px 25px;
    margin: 2px 0px;
}

.input::placeholder {
    font-family: monospace;
    color: white;
}

input[type="text"]:focus {
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #5BC2D9;
  outline: none;
}

input[type="password"]:focus {
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #5BC2D9;
  outline: none;
}

#container-psw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    width: 100%;
}

#container-psw label {
    font-size: 12px;
    color: white;
}

.psw {
    font-size: 10px;
    text-decoration: none;
    color: white;
}

#container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
}

#btn-login {
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #5BC2D9;
    cursor: pointer;
    transition: all  0.3s;
}

#btn-login:hover {
    width: 110%;
    height: 110%;
}

#container-register {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 10px;
    color: white;
}

#btn-register {
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: white;
    background-color: transparent;
    padding: 4px;
    border-style: solid;
    border-radius: 4px;
    border-color: #5BC2D9;
    cursor: pointer;
    transition: all 0.3s;
}

#btn-register:hover {
    width: 110%;
    height: 110%;
}

#accessories {
    display: flex;
    flex-direction: row;
    justify-content: right;
    column-gap: 15px;
    margin-bottom: 10px;
}

#sound {
    background-color: #364956;
    width: 70px;
    height: 8px;
    margin-right: 30px;
    border-radius: 10px;
}

#cam {
    background-color: #364956;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

#lantern {
    background-color: #364956;
    width: 10px;
    height: 10px;
    margin-right: 25px;
    border-radius: 10px;
}